body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
}

.login-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    background-size: cover;
    height: 100vh;
}

.login-card, .reset-password-card {
    position: absolute;
    background-color: #e6f0fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 700px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-card img, .reset-password-card img, .success-card img{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-card h2, .reset-password-card h2, .success-card h2{
    margin: 0 0 20px;
}

.login-card input, .reset-password-card input {
    width: 100%;
    padding: 10px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

.login-card .main, .reset-password-card .main, .success-card .main{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-card .alt-login {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.login-card .alt-login, .success-card button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    font-size: 12px;
    color: #800080;
}

.links a {
    text-decoration: none;
    color: #800080;
}

.links a:hover {
    text-decoration: underline;
}